# web3forms.com access key — this key is PUBLIC (NEXT_PUBLIC_ prefix),
# since GitHub Pages can only host static code: the key will be visible
# in the browser's page source, as expected by the web3forms model.
# Get your key at https://web3forms.com
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=50b4d025-e560-470c-9cde-380abb30a529
